body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navFont{
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
}

.carouselImg {
  /* padding: 5px; */
  object-fit: cover;
  /* object-position: 0 20%; */
  height: 600px;
}

@media(min-width:2000px){

  .carouselImg{
    object-position: 0 20%;
    height: 900px;
  }
}